@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Roboto:wght@100;400&display=swap");

* {
	padding: 0;
	border: none;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

header {
	display: flex;
	background-color: #1f2937;
	color: #f9faf8;
	align-items: center;
	justify-content: space-between;
	padding: 45px;
}

.logo {
	font-size: 24px;
	margin-left: 200px;
}

.links {
	list-style-type: none;
	display: flex;
	gap: 10px;
	font-size: 18px;
	color: #e5e7ebc5;
	margin-right: 200px;
}

a {
	text-decoration: none;
	color: #e5e7ebb7;
}

.section1 {
	display: flex;
	flex-direction: row;
	background-color: #1f2937;
	color: #f9faf8;
	align-items: center;
	justify-content: center;
	text-align: left;
	padding-bottom: 100px;
	padding-right: 200px;
	padding-left: 200px;
}

.section1 .text {
	flex: 1;
	margin-left: 100px;
}

.section1 .title {
	font-size: 48px;
	font-weight: bolder;
	color: #f9faf8;
}

.section1 .subtitle {
	font-size: 18px;
	color: #e5e7ebb9;
}

.section1 .image {
	max-width: 800px;
	max-height: 400px;
	margin-right: 100px;
	margin-left: 100px;
}

.section1 .button {
	display: flex;
	background-color: rgba(92, 170, 243, 0.712);
	color: #e5e7eb;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: large;
	width: 120px;
	height: 40px;
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
}

.section2 {
	display: flex;
	flex-direction: column;
	background-color: white;
	color: #f9faf8;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
	margin-right: 10em;
	margin-left: 10em;
}

.section2 .title {
	color: #1f2937;
	font-size: 36px;
	font-weight: 1000;
	padding: 30px;
}

.section2 .container {
	color: #1f2937;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5em;
}

.section2 .infoBlock img {
	display: flex;
	flex-wrap: wrap;
	max-width: 200px;
	max-height: 200px;
	border-color: lightblue;
	border-width: 1em;
}

.section2 .infoBlock .text {
	text-align: center;
	margin-top: 1em;
	max-width: 200px;
	max-height: 200px;
}

.section3 {
	display: flex;
	flex-direction: column;
	background-color: #e5e7eb;
	color: #1f2937;
	font-size: 24px;
	font-weight: 100;
	font-style: italic;
	align-items: center;
	justify-content: space-between;
	padding: 125px;
}

.section3 .author {
	text-align: right;
	color: #1f2937;
	font-size: 24px;
	font-weight: 1000;
	padding: 30px;
}

.section4 {
	display: flex;
	flex-direction: column;
	background-color: #3882f6;
	color: white;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
	margin: 50px;
}

.section4 .card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-between;
	gap: 10em;
}

.section4 .text {
	flex: 1;
}

.section4 .title {
	font-size: 24px;
	font-weight: bolder;
	color: #f9faf8;
	margin-bottom: 0.25em;
}

.section4 button {
	display: flex;
	background-color: #3882f6;
	color: #e5e7eb;
	justify-content: center;
	align-items: center;
	font-size: large;
	width: 200px;
	height: 40px;
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
	border-color: white;
	border: 2px;
	border: solid;
}

footer {
	display: flex;
	background-color: #1f2937;
	color: #f9faf8;
	align-items: center;
	justify-content: center;
	padding: 30px;
}
